@model ONT_3rdyear_Project.Models.Instruction

@{
	ViewData["Title"] = "View Doctor Advice"; 
}

<h3>Doctor's Intructionse</h3>

<p><strong>Patient:</strong> @Model.Patient.FirstName @Model.Patient.LastName</p>
<p><strong>Doctor's Advice:</strong> @(string.IsNullOrWhiteSpace(Model.Instructions) ? "No advice from doctor" : Model.Instructions)@* @Model.Instructions *@</p>
<a asp-action="InstructionList" class="btn btn-secondary">Back to List</a>

