html {
    font-size: 14px;
    height: 100%; /* make flex container take full viewport */
    margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}





body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}


/*html, body {
    overflow: hidden !important;
<<<<<<< HEAD
}*/
=======
}*/
.container {
    margin-bottom: 0; /* Bootstrap container sometimes adds margin */
}

main.pb-3 {
    padding-bottom: 0;
}
>>>>>>> fd2377ef523ad4c8b0fb4ff7d58611fb54cd65c9
